.about .container-26 {
  margin: 90.4px 0 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 79.1px;
  height: fit-content;
  box-sizing: border-box;
}

.about .container-27 {
  margin: 1048.8px 0 85.5px 0; /* Increased the top margin */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 79.1px;
  height: fit-content;
  box-sizing: border-box;
}

.about .container-15 {
  margin: 83.9px 0px 0px 0;
  display: flex;
  flex-direction: column;
  width: 158.1px;
  height: fit-content;
  box-sizing: border-box;
}

.about .container-34 {
  margin: 1243.7px 0px 0px 0; /* Increased the top margin */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 79.1px;
  height: fit-content;
  box-sizing: border-box;
}

.about .container-38 {
  margin: 1164.6px 6.5px 79.1px 0; /* Increased the top margin */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 79.1px;
  height: fit-content;
  box-sizing: border-box;
}

.about .container-19 {
  margin: 1161.4px 0 6.5px 0; /* Increased the top margin */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 79.1px;
  height: fit-content;
  box-sizing: border-box;
}

.about .container-37 {
  margin: 1237.2px 0 6.5px 0; /* Increased the top margin */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 79.1px;
  height: fit-content;
  box-sizing: border-box;
}

.about .container-16 {
  margin: 82.3px 3.2px 87.1px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 82.3px;
  height: fit-content;
  box-sizing: border-box;
}

.about .container-3 {
  margin-bottom: 87.1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 79.1px;
  height: fit-content;
  box-sizing: border-box;
}

.about .container-17 {
  margin: 1082.3px 0 1.6px 0; /* Increased the top margin */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 79.1px;
  height: fit-content;
  box-sizing: border-box;
}

.about .group-34 {
  opacity: 0.5;
  position: absolute;
  right: -7px;
  bottom: 0.3px;
  display: flex;
  flex-direction: row;
  width: 1454px;
  height: 414.7px;
  box-sizing: border-box;
}

.about .layer-1 {
  width: 133px;
  height: 28px;
}

.about .about-contact {
  margin: 2px 0 4px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'FontRegular';
  font-weight: 500;
  font-size: 17px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.about .container-14 {
  margin: 0 82.3px 63px 87px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1284.7px;
  box-sizing: border-box;
}

.about .container-5 {
  margin: 1.6px 0 82.3px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 79.1px;
  height: fit-content;
  box-sizing: border-box;
}

.about .container-29 {
  margin: 87.1px 3.2px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 79.1px;
  height: fit-content;
  box-sizing: border-box;
}

.about .container-33 {
  margin: 87.1px 0 82.3px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 82.3px;
  height: fit-content;
  box-sizing: border-box;
}

.about .container-32 {
  margin: 6.5px 0 237.2px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 79.1px;
  height: fit-content;
  box-sizing: border-box;
}

.about .container-25 {
  margin: 6.5px 163px 161.4px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 79.1px;
  height: fit-content;
  box-sizing: border-box;
}

.about .container-13 {
  margin: 79.1px 0px 164.6px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 79.1px;
  height: fit-content;
  box-sizing: border-box;
}

.about .container-6 {
  margin: 0px 6.4px 243.7px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 79.1px;
  height: fit-content;
  box-sizing: border-box;
}

.about .container-7 {
  margin-bottom: 83.9px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 158.1px;
  height: fit-content;
  box-sizing: border-box;
}

.about .container-10 {
  margin: 85.5px 0 4.8px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 79.1px;
  height: fit-content;
  box-sizing: border-box;
}

.about .container-31 {
  margin-bottom: 90.4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 79.1px;
  height: fit-content;
  box-sizing: border-box;
}

.about .group-21 {
  opacity: 0.5;
  margin-bottom: 290.3px;
  display: flex;
  flex-direction: row;
  width: 1454px;
  box-sizing: border-box;
}

.about .group-18 {
  margin: 0 1px 106px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 87px;
  box-sizing: border-box;
}

.about .container-1 {
  margin-right: 12.2px;
  overflow-wrap: break-word;
  font-family: 'FontRegular';
  font-weight: 500;
  font-size: 21px;
  text-transform: uppercase;
  color: #FFDD33;
}

.about .who-we-are {
  margin-right: 0px;
  overflow-wrap: break-word;
  font-family: 'FontRegular';
  font-weight: 500;
  font-size: 21px;
  text-transform: uppercase;
  color: #FFDD33;
}

.about .group-49 {
  margin: 0 18px 22px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}

.about .innovators {
  margin: 0 1px 13px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'FontRegular';
  font-weight: 400;
  font-size: 80px;
  line-height: 0.875;
  text-transform: uppercase;
  color: #FFFFFF;
}

.about .in-motion {
  margin-bottom: 33px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'FontRegular';
  font-weight: 400;
  font-size: 80px;
  line-height: 0.875;
  text-transform: uppercase;
  color: #FFFFFF;
}

.at-mercellenie-automotive-we-epitomize-excellence-in-electric-mobility-we-craft-premium-electric-bikes-that-set-new-benchmarks-for-performance-and-environmental-responsibility-we-deliver-exceptional-quality-and-innovation-in-electric-mobility-setting-new-global-standards-with-premium-aesthetics-unmatched-performance-extensive-range-and-fast-charging-sub7 {
  font-family: 'FontRegular';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.333;
}

.at-mercellenie-automotive-we-epitomize-excellence-in-electric-mobility-we-craft-premium-electric-bikes-that-set-new-benchmarks-for-performance-and-environmental-responsibility-we-deliver-exceptional-quality-and-innovation-in-electric-mobility-setting-new-global-standards-with-premium-aesthetics-unmatched-performance-extensive-range-and-fast-charging {
  font-family: 'FontRegular';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.333;
}

.about .at-mercellenie-automotive-we-epitomize-excellence-in-electric-mobility-we-craft-premium-electric-bikes-that-set-new-benchmarks-for-performance-and-environmental-responsibility-we-deliver-exceptional-quality-and-innovation-in-electric-mobility-setting-new-global-standards-with-premium-aesthetics-unmatched-performance-extensive-range-and-fast-charging {
  margin-bottom: 119px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'FontRegular';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  color: #FFFFFF;
}

.about .container {
  margin-right: 12.2px;
  overflow-wrap: break-word;
  font-family: 'FontRegular';
  font-weight: 500;
  font-size: 21px;
  text-transform: uppercase;
  color: #FFDD33;
}

.about .our-approach {
  overflow-wrap: break-word;
  font-family: 'FontRegular';
  font-weight: 500;
  font-size: 21px;
  text-transform: uppercase;
  color: #FFDD33;
}

.about .group-48 {
  margin: 0 0 13px 7.2px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}

.about .we-believe-in-delivering-electric-vehicles-that-are-not-just-eco-friendly-but-also-luxurious-and-high-performing-we-focus-on-creating-adriving-experience-that-is-unmatched-where-the-power-of-electric-meets-the-luxury-of-high-end-cars-our-team-is-dedicated-to-pushing-the-boundaries-of-technology-to-build-the-best-electric-vehicles {
  margin-bottom: 189px;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'FontRegular';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  color: #FFFFFF;
}

.about .power {
  margin-right: 35px;
  width: 221px;
  overflow-wrap: break-word;
  font-family: 'FontRegular';
  font-weight: 400;
  font-size: 60px;
  line-height: 1.167;
  text-transform: uppercase;
  color: #FFDD33;
}

.about .line-97 {
  background: #FFDD33;
  margin: 32px 25px 37px 0;
  width: 274px;
  height: 0px;
}

.about .style {
  overflow-wrap: break-word;
  font-family: 'FontRegular';
  font-weight: 400;
  font-size: 60px;
  line-height: 1.167;
  text-transform: uppercase;
  color: #FFDD33;
}

.about .container-18 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.about .efficiency {
  overflow-wrap: break-word;
  font-family: 'FontRegular';
  font-weight: 400;
  font-size: 60px;
  line-height: 1.167;
  text-transform: uppercase;
  color: #FFDD33;
}

.about .container-21 {
  margin: 0 134.9px 65px 87px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1232.1px;
  box-sizing: border-box;
}

.about .screenshot-20240820-at-35843-pm-2 {
  background: url('src/assets/images/Screenshot20240820At35843Pm2.png');
  margin-right: 37px;
  width: 720px;
  height: 714px;
}

.about .passion-meets-innovation {
  margin: 0 41.2px 257px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'FontRegular';
  font-weight: 400;
  font-size: 80px;
  line-height: 1.125;
  text-transform: uppercase;
  color: #000000;
}

.about .discover-the-new-roetz-life-ebike-in-our-fair-factory-in-amsterdam-the-sneak-peek-includes-acloser-look-at-the-3-dprinted-ebike-model-and-atest-ride-on-one-of-our-latest-prototypes {
  overflow-wrap: break-word;
  font-family: 'FontRegular';
  font-weight: 400;
  font-size: 20px;
  color: #060606;
}

.about .container-12 {
  margin: 41px 0 54px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.about .frame-43 {
  background: #FFDD33;
  margin: 0 7px;
  display: flex;
  flex-direction: row;
  width: 1440px;
  box-sizing: border-box;
}

.about .container-2 {
  margin-right: 12.2px;
  overflow-wrap: break-word;
  font-family: 'FontRegular';
  font-weight: 500;
  font-size: 21px;
  text-transform: uppercase;
  color: #FFDD33;
}

.about .why-choose-us {
  overflow-wrap: break-word;
  font-family: 'FontRegular';
  font-weight: 500;
  font-size: 21px;
  text-transform: uppercase;
  color: #FFDD33;
}

.about .group-50 {
  margin-bottom: 42px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}

.about .innovative-electric-bikes-for-abetter-tomorrow {
  margin: 60px 173.4px 54px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'FontRegular';
  font-weight: 400;
  font-size: 50px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #FFFFFF;
}

.about .vector {
  width: 28.8px;
  height: 28.7px;
}

.about .frame-49 {
  border-radius: 30.5px;
  background: rgba(93, 93, 93, 0.35);
  margin-bottom: 90px;
  display: flex;
  padding: 19.1px 17.5px 13.2px 14.7px;
  width: 61px;
  height: 61px;
  box-sizing: border-box;
}

.about .vector-1 {
  width: 34.5px;
  height: 30.7px;
}

.about .frame-48 {
  border-radius: 30.5px;
  background: rgba(93, 93, 93, 0.35);
  display: flex;
  padding: 15.2px 13.8px 15.1px 12.8px;
  width: 61px;
  height: 61px;
  box-sizing: border-box;
}

.about .container-30 {
  margin: 0 33px 22px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 61px;
  height: fit-content;
  box-sizing: border-box;
}

.about .sustainable-future {
  margin-bottom: 14px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'FontRegular';
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.about .creating-eco-friendly-bikes-for-abetter-tomorrow {
  margin-bottom: 68px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'FontRegular';
  font-weight: 400;
  font-size: 20px;
  color: #E1E1E1;
}

.about .high-performance {
  margin-bottom: 14px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'FontRegular';
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.about .experience-superior-speed-and-efficiency {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'FontRegular';
  font-weight: 400;
  font-size: 20px;
  color: #E1E1E1;
}

.about .container-35 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.about .container-8 {
  margin-bottom: 68px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}

.about .vector-2 {
  width: 34.5px;
  height: 34.5px;
}

.about .frame-47 {
  border-radius: 30.5px;
  background: rgba(93, 93, 93, 0.35);
  margin: 0 33px 22px 0;
  display: flex;
  padding: 13.3px 13.8px 13.3px 12.8px;
  width: 61px;
  height: 61px;
  box-sizing: border-box;
}

.about .global-impact {
  margin-bottom: 14px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'FontRegular';
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.about .proudly-serving-customers-worldwide-from-india {
  overflow-wrap: break-word;
  font-family: 'FontRegular';
  font-weight: 400;
  font-size: 20px;
  color: #E1E1E1;
}

.about .container-4 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.about .container-24 {
  margin: 0 0 68px 684px;
  display: flex;
  flex-direction: row;
  align-self: center;
  width: fit-content;
  box-sizing: border-box;
}

.about .vector-3 {
  width: 38.3px;
  height: 35.3px;
}

.about .frame-46 {
  border-radius: 30.5px;
  background: rgba(93, 93, 93, 0.35);
  margin: 0 33px 22px 0;
  display: flex;
  padding: 13px 11.8px 12.7px 10.8px;
  width: 61px;
  height: 61px;
  box-sizing: border-box;
}

.about .pioneering-innovation {
  margin-bottom: 14px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'FontRegular';
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.about .leading-advancements-in-electric-bike-technology {
  overflow-wrap: break-word;
  font-family: 'FontRegular';
  font-weight: 400;
  font-size: 20px;
  color: #E1E1E1;
}

.about .container-22 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.about .container-11 {
  margin: 0 0 68px 686.5px;
  display: flex;
  flex-direction: row;
  align-self: center;
  width: fit-content;
  box-sizing: border-box;
}

.about .vector-4 {
  width: 30px;
  height: 30px;
}

.about .frame-45 {
  border-radius: 30.5px;
  background: rgba(93, 93, 93, 0.35);
  margin: 0 33px 45px 0;
  display: flex;
  padding: 15.5px 17px 15.5px 14px;
  width: 61px;
  height: 61px;
  box-sizing: border-box;
}

.about .growing-demand {
  margin-bottom: 14px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'FontRegular';
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.about .positioned-to-capture-the-expanding-market-for-electric-bikes-with-our-innovative-and-high-performing-products {
  overflow-wrap: break-word;
  font-family: 'FontRegular';
  font-weight: 400;
  font-size: 20px;
  color: #E1E1E1;
}

.about .container-1 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.about .container-20 {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  width: fit-content;
  box-sizing: border-box;
}

.about .frame-44 {
  background: linear-gradient(180deg, rgba(29, 29, 29, 0.53), #060606);
  position: relative;
  margin: 0 4px 44px 3px;
  display: flex;
  flex-direction: column;
  padding: 93px 140.3px 98px 86px;
  width: fit-content;
  box-sizing: border-box;
}

.about .embrace-the-thrill-guilt-free-with-the-electric-superbike-experience-powerful-speed-and-eco-friendly-design-conquer-the-road-and-reduce-your-carbon-footprint-with-mercellenie {
  overflow-wrap: break-word;
  font-family: 'FontRegular';
  font-weight: 400;
  font-size: 40px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.embrace-the-thrill-guilt-free-with-the-electric-superbike-experience-powerful-speed-and-eco-friendly-design-conquer-the-road-and-reduce-your-carbon-footprint-with-mercellenie-sub2 {
  font-family: 'FontRegular';
  font-weight: 400;
  font-size: 40px;
  line-height: 1.333;
  text-transform: uppercase;
  color: #FFDD33;
}

.about .container-2 {
  background: url('src/assets/images/Mercelline.png') 50% / cover no-repeat;
  position: relative;
  margin: 0 10px 0 5px;
  padding: 450px 84px 73px 84px;
  width: fit-content;
  box-sizing: border-box;
}

.about .container-3 {
  margin-right: 12.2px;
  overflow-wrap: break-word;
  font-family: 'FontRegular';
  font-weight: 500;
  font-size: 21px;
  text-transform: uppercase;
  color: #FFDD33;
}

.about .milestones {
  overflow-wrap: break-word;
  font-family: 'FontRegular';
  font-weight: 500;
  font-size: 21px;
  text-transform: uppercase;
  color: #FFDD33;
}

.about .group-501 {
  margin-bottom: 94px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}

.about .ajourney-of-innovation-and-perseverance {
  margin-bottom: 116px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'FontRegular';
  font-weight: 400;
  font-size: 50px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #FFFFFF;
}

.about .container-9 {
  margin: 0 4px 1190px 4px; /* Increased the bottom margin */
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'FontRegular';
  font-weight: 400;
  font-size: 25px;
  text-transform: uppercase;
  color: #FFDD33;
}

.about .container-8 {
  margin: 0 4px 196px 4px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'FontRegular';
  font-weight: 400;
  font-size: 25px;
  text-transform: uppercase;
  color: #FFDD33;
}

.about .container-7 {
  margin: 0 4px 190px 4px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'FontRegular';
  font-weight: 400;
  font-size: 25px;
  text-transform: uppercase;
  color: #FFDD33;
}

.about .container-6 {
  margin: 0 4px 167px 4px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'FontRegular';
  font-weight: 400;
  font-size: 25px;
  text-transform: uppercase;
  color: #FFDD33;
}

.about .container-5 {
  margin-bottom: 1167px; /* Increased the bottom margin */
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'FontRegular';
  font-weight: 400;
  font-size: 25px;
  text-transform: uppercase;
  color: #FFDD33;
}

.about .container-4 {
  margin: 0 4px;
  overflow-wrap: break-word;
  font-family: 'FontRegular';
  font-weight: 400;
  font-size: 25px;
  text-transform: uppercase;
  color: #FFDD33;
}

.about .container {
  margin: 57px 6px 1247px 0; /* Increased the bottom margin */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;
}

.about .line-98 {
  background: #939393;
  margin-bottom: 219px;
  width: 41px;
  height: 0px;
}

.about .line-99 {
  background: #939393;
  margin-bottom: 229px;
  width: 41px;
  height: 0px;
}

.about .line-100 {
  background: #939393;
  margin-bottom: 223px;
  width: 41px;
  height: 0px;
}

.about .line-101 {
  background: #939393;
  margin-bottom: 199px;
  width: 41px;
  height: 0px;
}

.about .line-102 {
  background: #939393;
  margin-bottom: 199px;
  width: 41px;
  height: 0px;
}

.about .line-103 {
  background: #939393;
  width: 41px;
  height: 0px;
}

.about .container-28 {
  margin: 74px 0 263px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 41px;
  height: fit-content;
  box-sizing: border-box;
}

.about .line-94 {
  background: #939393;
  margin-right: 28px;
  width: 1412px;
  height: 0px;
}

.about .ready-for-launch {
  margin-bottom: 19px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'FontRegular';
  font-weight: 400;
  font-size: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.about .by-february-2024-our-pre-production-bike-passed-rigorous-testing-teaser-shoots-wrapped-up-by-may-and-now-mercelleinie-is-ready-to-launch-from-sketches-to-asuperbike-our-journey-has-been-driven-by-innovation-and-perseverance-every-setback-taught-us-resilience-and-today-mercelleinie-stands-ready-to-revolutionize-electric-mobility {
  margin: 0 13px 44px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'FontRegular';
  font-weight: 300;
  font-size: 19px;
  line-height: 1.368;
  color: #E1E1E1;
}

.about .major-developments {
  margin-bottom: 14px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'FontRegular';
  font-weight: 400;
  font-size: 32px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.about .in-2023-mercelleinie-focused-on-apre-production-superbike-with-acustom-high-capacity-battery-and-new-chassis-after-over-63-design-iterations-we-created-acompact-high-energy-battery-pack-despite-setbacks-like-overheating-we-refined-the-design-leading-to-successful-tests-and-the-start-of-our-teaser-video-production {
  margin-bottom: 70px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'FontRegular';
  font-weight: 300;
  font-size: 19px;
  line-height: 1.368;
  color: #E1E1E1;
}

.about .overcoming-challenges {
  margin-bottom: 14px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'FontRegular';
  font-weight: 400;
  font-size: 32px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.about .in-2022-ideveloped-anew-motor-with-avendor-and-improved-the-prototype-by-removing-the-bulky-cvt-system-reuniting-with-my-former-teammate-sanjidth-we-focused-on-adirect-drive-motor-reducing-weight-and-enhancing-performance-this-year-was-crucial-for-overcoming-obstacles-and-refining-the-design {
  margin: 0 12.4px 70px 6px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'FontRegular';
  font-weight: 300;
  font-size: 19px;
  line-height: 1.368;
  color: #E1E1E1;
}

.about .gaining-momentum {
  margin-bottom: 14px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'FontRegular';
  font-weight: 400;
  font-size: 32px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.about .during-the-2021-lockdown-ipitched-my-electric-motorcycle-concept-to-my-father-he-supported-me-allowing-me-to-build-my-first-prototype-despite-challenges-with-battery-tech-and-components-this-phase-laid-the-groundwork-for-future-success {
  margin: 0 13.4px 44px 6px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'FontRegular';
  font-weight: 300;
  font-size: 19px;
  line-height: 1.368;
  color: #E1E1E1;
}

.about .building-foundations {
  margin-bottom: 14px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'FontRegular';
  font-weight: 400;
  font-size: 32px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.about .in-college-ijoined-the-baja-team-learning-vehicle-dynamics-and-manufacturing-while-leading-our-team-in-competitions-the-2020-lockdown-reignited-my-passion-inspiring-me-to-focus-on-electric-bikes {
  margin: 0 13.2px 70px 5px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'FontRegular';
  font-weight: 300;
  font-size: 19px;
  line-height: 1.368;
  color: #E1E1E1;
}

.about .the-spark-of-inspiration {
  margin-bottom: 19px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'FontRegular';
  font-weight: 400;
  font-size: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.about .by-february-2024-our-pre-production-bike-passed-rigorous-testing-teaser-shoots-wrapped-up-by-may-and-now-mercelleinie-is-ready-to-launch-from-sketches-to-asuperbike-our-journey-has-been-driven-by-innovation-and-perseverance-every-setback-taught-us-resilience-and-today-mercelleinie-stands-ready-to-revolutionize-electric-mobility-1 {
  margin-right: 13px;
  overflow-wrap: break-word;
  font-family: 'FontRegular';
  font-weight: 300;
  font-size: 19px;
  line-height: 1.368;
  color: #E1E1E1;
}

.about .container-36 {
  margin: 54px 0 98px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.about .container-23 {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}

.about .frame-53 {
  background: linear-gradient(180deg, rgba(29, 29, 29, 0.53), #060606);
  position: relative;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

.about .back-to-top {
  margin: 0 997.2px 2131px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'FontRegular';
  font-weight: 400;
  font-size: 23.8px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.about .container-9 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1454px;
  height: fit-content;
  box-sizing: border-box;
}

.about .vector-6 {
  width: 19.3px;
  height: 20.3px;
}

.about .arrow-down {
  display: flex;
  width: 30.8px;
  height: 30.8px;
  box-sizing: border-box;
}

.about .group-33 {
  position: absolute;
  left: 80px;
  bottom: 105.8px;
  display: flex;
  padding: 13.6px 15.5px 16.4px 15.5px;
  width: 50.2px;
  height: 50.2px;
  box-sizing: border-box;
}

.about .mercellinie {
  position: absolute;
  left: 71.9px;
  bottom: 40px;
  overflow-wrap: break-word;
  font-family: 'FontRegular';
  font-weight: 400;
  font-size: 17px;
  text-transform: uppercase;
  color: #FFDD33;
}

.about .made-by-wings {
  position: absolute;
  right: 76.2px;
  bottom: 40px;
  overflow-wrap: break-word;
  font-family: 'FontRegular';
  font-weight: 400;
  font-size: 17px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.about .privacy-policy {
  position: absolute;
  left: 265.1px;
  bottom: 40px;
  overflow-wrap: break-word;
  font-family: 'FontRegular';
  font-weight: 400;
  font-size: 17px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.about .vector-7 {
  width: 18px;
  height: 18px;
}

.about .download-1 {
  position: absolute;
  right: 276px;
  bottom: 121.8px;
  display: flex;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}

.about .vector-8 {
  width: 18px;
  height: 16px;
}

.about .download-2 {
  position: absolute;
  right: 228px;
  bottom: 122.8px;
  display: flex;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}

.about .vector-9 {
  width: 18px;
  height: 18px;
}

.about .download-3 {
  position: absolute;
  right: 180px;
  bottom: 121.8px;
  display: flex;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}

.about .vector-10 {
  width: 20px;
  height: 20px;
}

.about .download-4 {
  position: absolute;
  right: 131px;
  bottom: 120.8px;
  display: flex;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}

.about .vector-11 {
  width: 20px;
  height: 14px;
}

.about .download {
  position: absolute;
  right: 83px;
  bottom: 124px;
  display: flex;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}

.about .image {
  mix-blend-mode: luminosity;
  background: linear-gradient(rgba(26, 26, 26, 0.17), rgba(26, 26, 26, 0.17)), url('src/assets/images/Image.png') 50% / cover no-repeat;
  position: absolute;
  left: 50%;
  top: 249px;
  translate: -50% 0;
  width: 749px;
  height: 536px;
}

.about .electrifying {
  position: absolute;
  left: 80px;
  top: 207px;
  overflow-wrap: break-word;
  font-family: 'FontRegular';
  font-weight: 400;
  font-size: 95px;
  line-height: 0.885;
  text-transform: uppercase;
  color: #FFFFFF;
}

.about .the-thrill {
  position: absolute;
  left: 131px;
  top: 296px;
  overflow-wrap: break-word;
  font-family: 'FontRegular';
  font-weight: 400;
  font-size: 95px;
  line-height: 0.885;
  text-transform: uppercase;
  color: #FFFFFF;
}

.about .of-riding {
  position: absolute;
  top: 601px;
  right: 131.3px;
  overflow-wrap: break-word;
  font-family: 'FontRegular';
  font-weight: 400;
  font-size: 95px;
  line-height: 0.885;
  text-transform: uppercase;
  color: #FFFFFF;
}

.about .transforming-mobility-one-exhilarating-ride-at-atime {
  position: absolute;
  width: 300px;
  top: 501px;
  right: 78px;
  text-align: right;
  overflow-wrap: break-word;
  font-family: 'FontRegular';
  font-weight: 500;
  font-size: 17px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.about .vector-5 {
  position: absolute;
  left: -4px;
  bottom: 248.5px;
  width: 1447px;
  height: 79.5px;
}

.about {
  background: #060606;
  display: flex;
  padding-top: 50px;
  width: 1440px;
  box-sizing: border-box;
}
